<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/image}" th:object="${image}" method="post">
    <p>Image name : <input type="text" th:field="*{imgname}" /></p>
    <p>Image address : <input type="text" th:field="*{imgaddress}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>


    <table border="1">
        <tr>
            <th>No</th>
            <th>imgname</th>
            <th>imgaddress</th>
        </tr>
        <tr th:each="imagemodel,state : ${liste}"
            class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
            <td th:utext="${state.count}">No</td>
            <td th:utext="${imagemodel.imgname}">image name</td>
            <td th:utext="${imagemodel.imgaddress}">image address</td>
        </tr>
    </table>

    <p> <a th:href="@{/index}">Home</a></p>
</form>
</body>
</html>