<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:utext="${ntitle}"></title>
</head>
<body>

<h1 th:utext="${ntitle}"></h1>

<div th:if="seobot!=null" th:utext="${#strings.toString(seobot.toString())}"></div>

<div th:if="dto!=null" th:utext="${#strings.toString(dto.toString())}"></div>

how many url in db ? <span th:text="${howmanyurlindb}"></span>


<form th:action="@{/stopharvesting}">
    <input type="submit" value="STOP HARVESTING //sometimes insist, bot stucks... hangs... just click, click, click"/>
</form>

<h2 th:utext="${ntitle}"></h2>
<br>
<div style="background-color:black;color:gold" th:utext="${#strings.toString(resourcedto.toString())}"></div>
<br>
<table style="background-color:black;color:gold">
    <tr>
        <td style="background-color:gold;color:black" th:utext="${murl}"></td>
    </tr>
    <tr th:each="urlindb : ${showallsortedurlindb}">
        <td th:utext="${urlindb.url}"></td>
    </tr>
</table>

<script type="text/javascript">
window.setInterval('rfresh()', 369);
function rfresh() { location.reload(); }
</script>
</body>
</html>