<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebCrawler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>seobot</h1>
<div th:text="${seobot.urlforbot}"></div>
<h1>Url & Jsoup ?</h1>
<form action="#" th:if="${seobot}" th:action="@{/seobot}"
      th:object="${seobot}" method="post">
    <p>
        first url for bot : <input type="text" th:field="*{urlforbot}"/>
    </p>

    <fieldset>
        <legend> text extraction algorithm </legend>
        <div>
            <input type="radio" id="jsoup" name="soup" value="false" th:field="*{switchsoup}">
            <label for="jsoup">Jsoup</label>
        </div>
        <div>
            <input type="radio" id="jves" name="soup" value="true" th:field="*{switchsoup}" checked>
            <label for="jves">Jves</label>
        </div>
    </fieldset>


    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
    </p>
</form>

<div th:if="seobot!=null" th:utext="${#strings.toString(seobot.toStringMin())}"></div>

<div th:if="dto!=null" th:utext="${#strings.toString(dto.toString())}"></div>

<form th:action="@{/deleteallurlindb}">
    <input type="submit" value="Delete all URLs in DB"/>
</form>

how many url in db ? <span th:text="${howmanyurlindb}"></span>

<form th:action="@{/showallurlindb}">
    <input type="submit" value="Show all URLs in DB"/>
</form>

</body>
</html>