<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SEO Settings Form</title>
</head>
<body>
<h1>Please fill out the form</h1>

<p>Click <a th:href="@{/seosettingssaved}">here</a> to get previously saved SEOSettings</p>

<form action="#" th:if="${seoset}" th:action="@{/seosettings}" th:object="${seoset}" method="post">
    <p>
        FTP host : <input type="text" th:field="*{ftphost}"/>
    </p>
    <p>
        FTP login name : <input type="text" th:field="*{ftplogin}" required="required"/>
    </p>
    <p>
        FTP login password : <input type="text" th:field="*{ftppwd}" required="required"/>
    </p>
    <p>
        FTP port : <input type="number" th:field="*{ftpport}" required="required"/>
    </p>
    <p>
        Path to main FTP directory : <input type="text" th:field="*{ftppathtomaindir}"/>
    </p>

    <p>
        pagetemplate : <input type="text" th:field="*{pagetemplate}"/>
    </p>

    <p>
        pagelink : <input type="text" th:field="*{pagelinkempty}"/>
    </p>

    <p>
        linklist : <input type="text" th:field="*{linklist}"/>
    </p>

    <p>
        wordtouse : <input type="text" th:field="*{wordtouse}"/>
    </p>

    <p>
        wordtoreplace : <input type="text" th:field="*{wordtoreplace}"/>
    </p>

    <p>
        wordtoremove : <input type="text" th:field="*{wordtoremove}"/>
    </p>

    <p>
        synonym : <input type="text" th:field="*{synonym}"/>
    </p>
    <p>
        <input th:if="${seoset}" type="submit" value="Submit"/> <input type="reset" value="Reset"/>
    </p>
</form>
<div th:utext="${#strings.toString(seoset.toString())}"></div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"></div>
</body>
</html>