<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${mtitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:utext="${mtitle}"></h1>
<table border="1">
    <tr>
        <td th:utext="${mindex}"></td>
        <td th:utext="${mid}"></td>
        <td th:utext="${mnano}"></td>
        <td th:utext="${murl}"></td>
    </tr>
    <tr th:each="urlindb , state : ${showallurlindb}">
        <td th:utext="${state.index}"></td>
        <td th:utext="${urlindb.id}"></td>
        <td th:utext="${urlindb.nano}"></td>
        <td th:utext="${urlindb.url}"></td>
    </tr>
</table>
</body>
</html>