<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table  style="color:orange;">
    <tr>
        <td style="background-color:black;">id</td>
        <td style="background-color:grey;">nano seconds</td>
        <td style="background-color:grey;">user id</td>
        <td style="background-color:silver;">title</td>
        <td style="background-color:grey;">description</td>
        <td style="background-color:grey;">text</td>
        <td style="background-color:grey;">page url</td>
    </tr>
    <tr th:each="resourceda : ${resourcedao}">
        <td style="background-color:black;" th:utext="${resourceda.id}"></td>
        <td style="background-color:grey;" th:utext="${resourceda.rnano}"></td>
        <td style="background-color:black;" th:utext="${resourceda.userid}"></td>
        <td style="background-color:black;" th:utext="${resourceda.rtitle}"></td>
        <td style="background-color:grey;" th:utext="${resourceda.rdescription}"></td>
        <td style="background-color:black;" th:utext="${resourceda.rtext}"></td>
        <td style="background-color:black;" th:utext="${resourceda.rpageurl}"></td>
    </tr>
</table>

</body>
</html>