<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/image.css">
    <title>Image backup</title>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <span style="color:orange" class="w3-bar-item w3-button">
            <b>>_Hi <block th:text="${who!=null} ? ${who} : ''"></block></b>
        </span>

        <a th:href="@{/index}" class="w3-bar-item w3-button">HOME</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-handshake-o"></i> LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-address-book"></i> REGISTER</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a th:href="@{/index}" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button" onclick="toggleFunction()">REGISTER</a>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">

    <div class="w3-display-middle w3-tooltip" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Image backup</span>

        <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
            <block th:text="${indexhelp13}"></block><br>
            <block th:text="${indexhelp14}"></block><br>
            <block th:text="${indexhelp15}"></block>
        </div>

    </div>

</div>


<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64 w3-border" id="portfolio">

    <p><h3 class="w3-wide">Image Backup Form</h3>
    </p>
    <br>
    <form class="w3-container w3-tooltip" action="#" th:action="@{/image}" th:object="${image}" method="post">
        <label>Image Name</label><input class="w3-input" type="text" th:field="*{imgname}" />
        <label>Image Address</label><input class="w3-input" type="text" th:field="*{imgaddress}"/>
        <p>
            <input class="w3-btn w3-blue" type="submit" name="button" value="Save"/>
            <span>
                <input class="w3-btn w3-blue" type="submit" name="button" value="Delete"/>
            </span>
            <input class="w3-btn w3-blue"  type="reset" value="Reset" />
            <a th:href="@{/seosettings}" class="w3-button w3-orange">
                <i class="fa fa-cogs w3-margin-right"></i>SEO Settings</a>
        </p>

        <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
            <block th:text="${indexhelp16}"></block>
        </div>

    </form>

    <table class="w3-table w3-striped w3-border w3-centered">
        <tr>
            <th>No</th>
            <th>imgname</th>
            <th>imgaddress</th>
        </tr>
        <tr th:each="imagemodel,state : ${liste}"
            class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
            <td th:utext="${state.count}">No</td>
            <td th:utext="${imagemodel.imgname}">imgname</td>
            <td th:utext="${imagemodel.imgaddress}">imgaddress</td>
            <td><img th:src="${imagemodel.imgaddress}" width="256" ></td>
        </tr>
    </table>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">SEARCH ENGINE OPTIMIZATION</span>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-orange"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
