<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <span style="color:orange" class="w3-bar-item w3-button">
            <b>>_Hi <block th:text="${who!=null && who.getUsername()!=null} ? ${who.getUsername()} : ''"></block></b>
        </span>

        <a href="#home" class="w3-bar-item w3-button">Home</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-handshake-o"></i> Sign In</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-address-book"></i> Register</a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-sign-out"></i> Sign Out</a>

        <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
            <i class="fa fa-envelope"></i> Contact</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a th:href="@{/login}" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button" onclick="toggleFunction()">REGISTER</a>
        <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle w3-tooltip" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
            <block th:text="${indexproperty}"></block> <span class="w3-hide-small"><block th:text="${indexmanagement}">
        </block></span> <block th:text="${indexsystem}"></block>
        </span>
        <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
            <block th:text="${indexhelp1}"></block><br>
            <block th:text="${indexhelp2}"></block><br>
            <block th:text="${indexhelp3}"></block><br>
            <block th:text="${indexhelp4}"></block>
        </div>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center"><block th:text="${indexseo}"></block></h3>
    <p class="w3-center"><em><block th:text="${indexsecrets}"></block></em></p>
    <p  style="text-align:justify;"><block th:text="${indeximprove}"></block></p>
    <div class="w3-row" style="color:dimgray;">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img  th:src="@{/images/photo-1504870712357-65ea720d6078.jpg}"  class="w3-image" alt="seo" width="500" height="333">
            <br>
            <br>
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large"
             style="text-align:justify;
             background-image: url('/images/kindpng_2195018.png');
             background-size: contain;
             background-repeat: no-repeat;">
            <b><p  style="text-justify: auto"><block th:text="${indexpractically}"></block></p>
            <p style="text-justify: auto"><block th:text="${indexfulfill}"></block></p>
            </b></div>
        </div>
    <p class="w3-large w3-center w3-padding-16"
       style="font-family:Consolas; background-color:black;color:orange;"><block th:text="${indexconsole}"></block></p>
    <pre th:if='${who!=null && who.getUsername!=null && !who.getUsername.equals("")}' style="font-family:Consolas; background-color:black;color:orange;">
        >_ <block th:text="${who!=null && who.getUsername!=null} ? ${useraccountdetails} : ''"></block>
        >_id_ <block th:text="${who!=null && who.getUsername!=null} ? ${who.getId()} : ''"></block>
        >_username_ <block th:text="${who!=null && who.getUsername!=null} ? ${who.getUsername()} : ''"></block>
        >_password_ <block th:text="${who!=null && who.getUsername!=null} ? ${who.getPassword()} : ''"></block>
        >_firstname_ <block th:text="${who!=null && who.getUsername!=null} ? ${who.getFirstname()} : ''"></block>
        >_lastname_ <block th:text="${who!=null && who.getUsername!=null} ? ${who.getLastname()} : ''"></block>
        >_email_ <block th:text="${who!=null && who.getUsername!=null} ? ${who.getEmail()} : ''"></block>
    </pre>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide"><block th:text="${indexsearch}"></block></span>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center"><block th:text="${indexseo2}"></block></h3>
    <p class="w3-center w3-pale-blue"><em><block th:text="${indextry}"></block><br></em></p><br>

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center">
        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;"><block th:text="${indexgives}"></block></p>
            <a th:href="@{/login}" class="w3-button w3-orange">
                <i class="fa fa-handshake-o w3-margin-right"></i><block th:text="${indexlogin}"></block></a>
            <br>
            <br>
        </div>

        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;"><block th:text="${indexprovides}"></block></p>
            <a th:href="@{/registration}" class="w3-button w3-orange">
                <i class="fa fa-address-book w3-margin-right"></i><block th:text="${indexregister}"></block></a>
            <br>
            <br>
        </div>

        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;"><block th:text="${indexall}"></block></p>
            <a href="#home"class="w3-button w3-orange">
            <i class="fa fa-home w3-margin-right"></i><block th:text="${indexhome}"></block></a>
            <br>
            <br>
        </div>

    </div>

    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m4 w3-tooltip" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;"><block th:text="${indexenter}"></block></p>
            <a th:href="@{/seosettings}" class="w3-button w3-orange">
                <i class="fa fa-cogs w3-margin-right"></i><block th:text="${indexseosettings}"></block></a>
            <br>
            <br>
            <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                <block th:text="${indexhelp12}"></block>
            </div>
        </div>

        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;"><block th:text="${indexifyou}"></block></p>
            <a th:href="@{/image}" class="w3-button w3-orange">
                <i class="fa fa-image w3-margin-right"></i><block th:text="${indexsaveimages}"></block></a>
            <br>
            <br>
        </div>

        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:#005aff;color:white;"><block th:text="${indexdrop}"></block><br><block th:text="${indexand}"></block><br><block th:text="${indexenjoy}"></block></p>
            <a th:href="@{/seobot}" class="w3-button w3-orange">
                <i class="fa fa-rocket w3-margin-right"></i><block th:text="${indexsearchandpublish}"></block></a>
            <br>
            <br>
        </div>
    </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide"><block th:text="${indexcontact}"></block></span>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center"><block th:text="${indexseo}"></block></h3>
    <p class="w3-center"><em><block th:text="${indexfeedback}"></block></em></p>

    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m4 w3-container">
            <img th:src="@{/images/robot.png}" class="w3-image w3-round" style="width:100%">
        </div>
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-user fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Yves Ruffenach<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right">
                </i> Email: yves@ruffenach.eu<br>
            </div>
            <p><block th:text="${indexswing}"></block> <i class="fa fa-coffee"></i>, <block th:text="${indexor}"></block></p>

            <form action="mailto:yves.ruffenach.eu" method="post" enctype="text/plain" target="_blank">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                    </div>
                    <div class="w3-half">
                        <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                    </div>
                </div>
                <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                <button class="w3-button w3-black w3-right w3-section" type="submit">
                    <i class="fa fa-paper-plane"></i> <block th:text="${indexsend}"></block> </button>
            </form>

        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-orange"><i class="fa fa-arrow-up w3-margin-right">
    </i><block th:text="${indextothetop}"></block></a>
</footer>

<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
