<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/seobot.css">
    <title>SEObot</title>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <span style="color:orange" class="w3-bar-item w3-button">
            <b>>_Hi <block th:text="${username!=null} ? ${username} : ''"></block></b>
        </span>

        <a th:href="@{/index}" class="w3-bar-item w3-button">HOME</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-handshake-o"></i> LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-address-book"></i> REGISTER</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a th:href="@{/index}" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button" onclick="toggleFunction()">REGISTER</a>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SEObot</span>
    </div>
</div>


<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64 w3-white" id="portfolio">
    <h3 class="w3-center">SEO bot</h3>
    <p class="w3-center  w3-pale-blue"><em>Drop it now.<br></em></p><br>

    <div class="w3-row-padding w3-center">
        <form action="#" th:if="${seobot}" th:action="@{/seobot}" th:object="${seobot}" method="post">
        <div class="w3-col m4">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;">First URL for bot</p>
                <p>
                    <input type="text" th:field="*{urlforbot}"/>
                </p>
            <p class="w3-large w3-center w3-padding-16" th:text="${seobot.urlforbot}"></p>
        </div>
        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16"
               style="background-color:white;color:dimgray;">Jsoup or something else</p>
            <fieldset>
                <legend> text extraction algorithm </legend>
                <div style="display:flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;">
                <div>
                    <input class="w3-radio"  type="radio" id="jsoup" name="soup" value="true" th:field="*{switchsoup}" checked>
                    <label for="jsoup">Jsoup</label>
                </div>
<!--                <div>
                    <input class="w3-radio"  type="radio" id="jves" name="soup" value="false"
                           th:field="*{switchsoup}" >
                    <label for="jves">Jves</label>
                </div>-->
                </div >
            </fieldset>
        </div>
        <div class="w3-col m4" style="background-color:white;">
            <p class="w3-large w3-center w3-padding-16" style="background-color:white;color:dimgray;">SEO bot go</p>
            <p><input class="w3-button w3-blue" type="submit" value="Harvest"/>
<!--
                <input class="w3-button w3-blue" type="reset" value="Reset"/>
-->
            </p>
        </div>
        </form>
        </div>

    <br>
    <br>

    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <form th:action="@{/showallurlindb}">
                <input class="w3-button w3-orange" type="submit" value="Show all URLs in DB"/>
            </form>
        </div>
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <form th:action="@{/deleteallurlindb}">
                <input class="w3-button w3-orange"  type="submit" value="Delete all URLs in DB"/>
            </form>
        </div>
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
                <a th:href="@{/index}" class="w3-button w3-orange"><i class="fa fa-home w3-margin-right"></i>Home</a>
        </div>
    </div>

    <!-- second menu -->
    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <a  th:href="@{/showallresourceindb}" class="w3-button w3-orange">Show all resources in db</a>
        </div>
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <form th:action="@{/deleteallresourceindb}">
                <input class="w3-button w3-orange"  type="submit" value="Delete all resources in DB"/>
            </form>
        </div>
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
                <a th:href="@{/build}" class="w3-button w3-blue"><i class="fa fa-microchip w3-margin-right">
                </i>Build up</a>
        </div>
    </div>

    <!-- third menu -->
    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <a  th:href="@{/showallnewpageindb}" class="w3-button w3-orange">Show all new pages in db</a>
        </div>
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <form th:action="@{/deleteallnewpageindb}">
                <input class="w3-button w3-orange"  type="submit" value="Delete all new pages in DB"/>
            </form>
        </div>
        <div class="w3-col m4 w3-light-grey" style="background-color:white;">
            <a th:href="@{/publish}" class="w3-tooltip w3-button w3-blue"><i class="fa fa-paper-plane w3-margin-right">
            </i>Publish <span class="w3-text">from DB to HTTP by FTP</span> & remove</a>
        </div>
    </div>

</div>




<!-- Container (About Section) -->
<div class="w3-section w3-content w3-container w3-padding-small"
     id="about"
     style="background-color : #181818; text-align : justify; overflow-wrap: break-word;">
    <div class="w3-left-align w3-small w3-padding-16"
         style="text-align: justify;
         overflow-wrap: break-word;
         font-family:Consolas;
         color:orange;">
        <p>>_<block th:text="${username}"></block>'s SEObot console</p>
        <p>>_Hal, how many urls are there in the database? <block th:text="${howmanyurlindb}"></block></p>
        <p>>_number of resources sets in the database : <block th:text="${howmanyresourceindb}"></block></p>
        <p>>_number of new pages in the database : <block th:text="${howmanywebpageindb}"></block></p>
        <p>>_which thread : <block th:text="${whichthread}"></block></p>
        <div class="w3-col m6">
<!--            <pre class="w3-left-align w3-small" style="font-family:Consolas; background-color:black;color:orange;"
                 th:if="seobot!=null"
                 th:utext="${#strings.toString(seobot.toString())}"></pre>-->
        </div>
        <div class="w3-col m6" style="text-align: justify;overflow-wrap: break-word;">
            <div class="w3-small"
                 style="text-align: justify;
                 overflow-wrap: break-word;
                 font-family:Consolas;
                 color:orange;"
                 th:if="dto!=null"
                 th:utext="${#strings.toString(dto.toString())}"></div>
        </div>
    </div>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">SEARCH ENGINE OPTIMIZATION</span>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-orange"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
