<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/seobot.css">
    <title th:utext="${ntitle}"></title>
</head>
<body style="background-color:#282828">

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64 w3-text-white" id="portfolio" style="background-color:#202020">
    <div class="w3-row-padding w3-center w3-section">
        <div th:utext="${ntitle}"></div>
        <br><br>
        <form th:action="@{/stopharvesting}">
            <input class="w3-button w3-orange" type="submit"
                   value="STOP SEO BOT"/>
        </form>
        <p>... sometimes insist, bot stucks... hangs... just click, click, click</p>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-section w3-content w3-container w3-padding-small"
     id="about"
     style="background-color : #181818; text-align: justify; overflow-wrap: break-word;">
    <div class="w3-left-align w3-small w3-padding-16"
         style="text-align: justify;
         overflow-wrap: break-word;
         font-family:Consolas;
         color:orange;">

        <p>>_<block th:text="${username}"></block>'s SEObot console working</p>
        <p>>_Number of urls in the database : <block th:text="${howmanyurlindb}"></block></p>
        <p>>_Number of resources sets in the database : <block th:text="${howmanyresourceindb}"></block></p>
        <p>>_which thread : <block th:text="${whichthread}"></block></p>
    </div>

        <div class="w3-col m3" style="text-align: justify;overflow-wrap: break-word;">


            <div class="w3-left-align w3-small" style="font-family:Consolas; background-color:black;color:orange;"
             th:utext="${#strings.toString(resourcedto.toString())}"></div>


            <div style="text-align : justify;
                   overflow-wrap : break-word;
                   font-family : Consolas;
                   color : orange;">
                <div style="text-align : justify;
                   overflow-wrap : break-word;
                   font-family : Consolas;
                   color : black"></div>
            </div>
            <div style="text-align : justify;
                   overflow-wrap : break-word;
                   font-family : Consolas;
                   color : orange;"
                 th:each="resource : ${resourcedao}">
                <div style="text-align : justify;
                overflow-wrap : break-word;
                font-family : Consolas;
                color : orange;"
                     th:utext="${resource.toStringMini()}">
                </div>
            </div>
        </div>

    <div class="w3-left-align w3-small w3-padding-16"
         style="overflow-wrap: break-word;
         font-family:Consolas;
         color:orange;">

        <div class="w3-col m3" style="text-align: justify;overflow-wrap: break-word;">
            <div class="w3-small"
                 style="text-align: justify;
                 overflow-wrap: break-word;
                 font-family:Consolas;
                 color:lime;"
                 th:if="dto!=null"
                 th:utext="${#strings.toString(dto.toString())}"></div>
        </div>

        <div class="w3-col m3" style="overflow-wrap:break-word;">
                <div style="text-align: justify;
                   overflow-wrap: break-word;
                   font-family:Consolas;
                   color:orange;" >
                    <div style="text-align: justify;
                   overflow-wrap: break-word;
                   font-family:Consolas;
                   background-color:orange;
                   color:black"
                        th:utext="${murl}"></div>
                </div>
                <div style="text-align: justify;
                   overflow-wrap: break-word;
                   font-family:Consolas;
                   color:orange;"
                     th:if="${showallsortedurlindb != null}"
                     th:each="urlindb : ${showallsortedurlindb}">
                    <div
                        th:utext="${urlindb.url}"
                        style="text-align: justify;
                        overflow-wrap: break-word;
                   font-family:Consolas;
                   color:orange;">
                    </div>
                </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-orange"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
//refresh the page
window.setInterval('rfresh()', 630);
function rfresh() { location.reload(); }
</script>
</body>
</html>