<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/seosettings.css">
    <title>SEO Settings Form</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>

        <span style="color:orange" class="w3-bar-item w3-button">
            <b>>_Hi <block th:text="${who!=null && who.getUser()!=null} ? ${who.getUser()} : ''"></block></b>
        </span>

        <a th:href="@{/index}" class="w3-bar-item w3-button">HOME</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-handshake-o"></i> LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button w3-hide-small">
            <i class="fa fa-address-book"></i> REGISTER</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a th:href="@{/index}" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
        <a th:href="@{/login}" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGIN</a>
        <a th:href="@{/registration}" class="w3-bar-item w3-button" onclick="toggleFunction()">REGISTER</a>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">

    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SEO Settings</span>
    </div>

</div>


<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64 w3-border" id="portfolio">
    <h3 class="w3-center">SEO Settings</h3>
    <p class="w3-center w3-pale-blue"><em>Please fill out the form<br></em></p><br>

    <form action="#" th:if="${seoset}" th:action="@{/seosettings}" th:object="${seoset}" method="post">

    <div class="w3-row-padding w3-center">
        <div class="w3-col m3">
            <p>
                FTP host :
            </p>
        </div>
        <div class="w3-col m3">
            <p><input type="text" th:field="*{ftphost}"/>
            </p>
        </div>
        <div class="w3-col m3">
            <p>
                FTP login name :
            </p>
        </div>
        <div class="w3-col m3">
            <p><input type="text" th:field="*{ftplogin}" required="required"/>
            </p>
        </div>
    </div>
    <div class="w3-row-padding w3-center">
        <div class="w3-col m3">
            <p>
                FTP login password :
            </p>
        </div>
        <div class="w3-col m3">
            <p><input type="text" th:field="*{ftppwd}" required="required"/>
            </p>
        </div>
        <div class="w3-col m3">
            <p>
                FTP port :
            </p>
        </div>
        <div class="w3-col m3">
            <p><input type="number" th:field="*{ftpport}" required="required"/>
            </p>
        </div>
    </div>
        <div class="w3-row-padding w3-center">
            <div class="w3-col m3">
                <p>
                    Path to main FTP directory :
                </p>
            </div>
            <div class="w3-col m3">
                <p><input type="text" th:field="*{ftppathtomaindir}"/>
                </p>
            </div>

        </div>

        <div class="w3-row-padding w3-center">
            <div class="w3-col m3 w3-tooltip">
                <p>
                    pagetemplate :
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp20}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p><input type="text" th:field="*{pagetemplate}"/>
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp20}"></block>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-center">
            <div class="w3-col m3 w3-tooltip">
                <p>
                    wordtouse :
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp21}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p><input type="text" th:field="*{wordtouse}"/>
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp21}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p>
                    wordtoreplace :
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp22}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p><input type="text" th:field="*{wordtoreplace}"/>
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp22}"></block>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-center">
            <div class="w3-col m3 w3-tooltip">
                <p>
                    wordtoremove :
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp23}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p><input type="text" th:field="*{wordtoremove}"/>
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp23}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p>
                    synonym :
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp24}"></block>
                </div>
            </div>
            <div class="w3-col m3 w3-tooltip">
                <p><input type="text" th:field="*{synonym}"/>
                </p>
                <div class="w3-text w3-text-black w3-white w3-opacity w3-card-4 w3-left-align">
                    <block th:text="${indexhelp24}"></block>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-center">
        <p>
            <input class="w3-button w3-orange" th:if="${seoset}" type="submit" value="Save settings"/>
            <input class="w3-button w3-orange" type="reset" value="Reset"/>

            <a th:href="@{/image}" class="w3-bar-item w3-button w3-hide-small w3-blue">
                <i class="fa fa-image"></i> Save images</a>

        </p>
        </div>
    </form>
</div>


<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-small" id="about"
     style="background-color : #181818; text-align : justify; overflow-wrap: break-word;">
            <div class="w3-left-align w3-small w3-padding-small"
                 style="text-align: justify;
         overflow-wrap: break-word;
         font-family:Consolas;
         color:orange;">>_SEO settings console</div>
            <div class="w3-left-align w3-small w3-padding-small"
                 style="text-align: justify;
                 overflow-wrap: break-word;
                 font-family:Consolas;
                 color:orange;"
                 th:utext="${#strings.toString(seoset.toString())}">
            </div>
</div>



<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">SEARCH ENGINE OPTIMIZATION</span>
    </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
