<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title th:utext="${mtitle}"></title>
</head>
<body>
<div class="w3-container w3-pale-blue">
    <a th:href="@{/seobot}" class="w3-button w3-tiny w3-right w3-light-grey w3-margin">
    <i class="fa fa-rocket w3-margin-right"></i>seobot</a>
</div>
<h1 th:utext="${mtitle}"></h1>
<div class="w3-responsive">
<table class="w3-table w3-tiny w3-pale-blue">
    <tr class="w3-light-grey">
        <th th:utext="${mindex}"></th>
        <th th:utext="${mid}"></th>
        <th th:utext="${mnano}"></th>
        <th th:utext="${murl}"></th>
    </tr>
    <tr th:each="urlindb , state : ${showallurlindb}">
        <td th:utext="${state.index}"></td>
        <td th:utext="${urlindb.id}"></td>
        <td th:utext="${urlindb.nano}"></td>
        <td th:utext="${urlindb.url}"></td>
    </tr>
</table>
</div>
</body>
</html>